
{% extends 'base.html' %}

{% block content %}
<h1>Hello, {{ user.username|default:'Guest' }}!</h1>

<div>
    {% if user.is_authenticated %}
        <h3>Email address : {{user.email}}</h3>
        <h3>Age : {{user.userprofile.age}}</h3>
        <h3>Gender : {{user.userprofile.gender}} </h3>
        <h3>Address: {{user.userprofile.address}}</h3>
        <a href="{% url 'logout' %}">Logout</a>
        <br>
        <a href="{% url 'password_change' %}">Change password</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a>
    {% endif %}
</div>
{% endblock %}
