{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Books</h1>
<div class="row">
{% for book in books %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static book.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <a href="{% url 'book_detail' book.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}