{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1 style="color:red"> Test Project </h1>
    <h2>Trying different kind of forms input</h2>
    <form action="{% url 'test' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="row">
            <div class="form-group">
            {{ field.errors }}
            {{ field.label_tag }}
            {{ field }}
            </div>
            </div>
{% endfor %}

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}</html>
>